{% extends 'base.html.twig' %}

{% block title %}EmployeeCard{% endblock %}

{% block stylesheets %}
    <link href="/styles/EmployeeCardPageStyles.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="content">
        <div class="breadcrumbs">
            <a class="link" href="{{ path('affiliate_list_page') }}">{{ 'Филиалы' }}</a>
            <a class="link" href="{{ path('affiliate_card_page', {'id': affiliate.id}) }}">
                {{ ('> ' ~ affiliate.city ~ ', ' ~ affiliate.address) }}
            </a>
            <span>{{ employee is defined ? ('> ' ~ employee.firstName ~ ' ' ~ employee.lastName) : '> Новый филиал' }}</span>
        </div>
        <div class="title">{{ 'Карточка сотрудника' }}</div>
        <form
            class="form"
            action="
                {% if app.request.get('_route') == 'employee_card_page' %}{{ path('update_employee') }}
                {% elseif app.request.get('_route') == 'add_employee_page' %}{{ path('add_employee') }}
                {% endif %}
            "
            method="post"
            autocomplete="off"
            enctype="multipart/form-data"
        >
            <input type="hidden" name="affiliateId" value="{{ affiliate.id }}">
            <input type="hidden" name="id" value="{{ employee is defined ? employee.id : 0}}">
            <div class="fieldsContainer">
                <div class="fields">
                    <div class="field">
                        <label class="commonText fieldName" for="name">{{ 'Имя: ' }}</label>
                        <input
                            class="commonInput fieldInput"
                            type="text"
                            value="{{ employee is defined ? employee.firstName : '' }}"
                            name="firstName"
                            id="name"
                            placeholder="Введите имя"
                            required
                        />
                    </div>
                    <div class="field">
                        <label class="commonText fieldName" for="lastName">{{ 'Фамилия: ' }}</label>
                        <input
                            class="commonInput fieldInput"
                            type="text"
                            value="{{ employee is defined ? employee.lastName : '' }}"
                            name="lastName"
                            id="lastName"
                            placeholder="Введите фамилию"
                            required
                        />
                    </div>
                    <div class="field">
                        <label class="commonText fieldName" for="middleName">{{ 'Отчество: ' }}</label>
                        <input
                            class="commonInput fieldInput"
                            type="text"
                            value="{{ employee is defined ? employee.middleName : '' }}"
                            name="middleName"
                            id="middleName"
                            placeholder="Введите отчество"
                        />
                    </div>
                    <div class="field">
                        <label class="commonText fieldName" for="email">{{ 'Email: ' }}</label>
                        <input
                            class="commonInput fieldInput"
                            type="text"
                            value="{{ employee is defined ? employee.email : '' }}"
                            name="email"
                            id="email"
                            placeholder="Введите email"
                            required
                        />
                    </div>
                    <div class="field">
                        <label class="commonText fieldName" for="jobTitle">{{ 'Должность: ' }}</label>
                        <input
                            class="commonInput fieldInput"
                            type="text"
                            value="{{ employee is defined ? employee.jobTitle : '' }}"
                            name="jobTitle"
                            id="jobTitle"
                            placeholder="Введите должность"
                            required
                        />
                    </div>
                    <div class="field">
                        <label class="commonText fieldName" for="hireDate">{{ 'Дата приёма на работу: ' }}</label>
                        <input
                            class="commonInput fieldInput"
                            type="date"
                            value="{{ employee is defined ? employee.hireDate|date('Y-m-d') : '' }}"
                            name="hireDate"
                            id="hireDate"
                            placeholder="Введите дату приёма на работу"
                            required
                        />
                    </div>
                    <div class="field">
                        <label class="commonText fieldName" for="comment">{{ 'Комментарий администратора: ' }}</label>
                        <textarea class="commonInput fieldTextarea" name="comment" id="comment">{{ employee is defined ? employee.administratorComment : '' }}</textarea>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label class="commonText fieldName" for="phone">{{ 'Телефон: ' }}</label>
                        <input
                            class="commonInput fieldInput"
                            type="text"
                            value="{{ employee is defined ? employee.phone : '' }}"
                            name="phone"
                            id="phone"
                            placeholder="Введите номер телефона"
                        />
                    </div>
                    <div class="field">
                        <label class="commonText fieldName" for="gender">{{ 'Пол: ' }}</label>
                        <select class="commonInput fieldInput" name="gender" id="gender">
                            <option value="{{ genderNotStated }}"{# {% if employee is defined and employee.gender == genderNotStated %}selected{% endif %}#}>Не указано</option>
                            <option value="{{ genderMale }}" {#{% if employee is defined and employee.gender == genderMale %}selected{% endif %}#}>Мужской</option>
                            <option value="{{ genderFemale }}" {#{% if employee is defined and employee.gender == genderFemale %}selected{% endif %}#}>Женский</option>
                        </select>
                    </div>
                    <div class="field">
                        <label class="commonText fieldName" for="birthDate">{{ 'Дата рождения: ' }}</label>
                        <input
                            class="commonInput fieldInput"
                            type="date"
                            value="{{ employee is defined ? employee.birthDate|date('Y-m-d') : '' }}"
                            name="birthDate"
                            id="birthDate"
                            placeholder="Введите дату рождения"
                        />
                    </div>
                </div>
            </div>
            <div class="field marginT16">
                <label class="commonText fieldName" for="avatar">{{ 'Аватар: ' }}</label>
                <input class="" type="file" id="avatar" name="avatar" accept="image/jpeg, image/webp">
                <img src="{{ asset(employee.avatar ? '/uploads/' ~ employee.avatar : '/default.jpeg') }}" alt="image">
            </div>
            <input
                class="btn primary marginT25"
                type="submit"
                value={{
                    app.request.get('_route') == 'employee_card_page'
                        ? 'Сохранить изменения'
                        : (
                            app.request.get('_route') == 'add_employee_page'
                            ? 'Создать'
                            : ''
                        )
                }}
            />
        </form>
    </div>
{% endblock %}