{% extends 'base.html.twig' %}

{% block title %}AfiiliatesCard{% endblock %}

{% block stylesheets %}
    <link href="/styles/AffiliateCardPageStyles.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="content">
        <div class="breadcrumbs">
            <a class="link" href="{{ path('affiliate_list_page') }}">{{ 'Филиалы' }}</a>
            <span>{{ affiliate is defined ? ('> ' ~ affiliate.city ~ ', ' ~ affiliate.address) : '> Новый филиал' }}</span>
        </div>
        <div class="title">{{ 'Карточка филиала' }}</div>
        <form
            class="form"
            action="
                {% if app.request.get('_route') == 'affiliate_card_page' %}{{ path('update_affiliate') }}
                {% elseif app.request.get('_route') == 'add_affiliate_page' %}{{ path('add_affiliate') }}
                {% endif %}
            "
            method="post"
            autocomplete="off"
        >
            <input type="hidden" name="id" value="{{ app.request.get('id') }}">
            <div class="fields">
                <div class="field">
                    <label class="commonText fieldName" for="city">{{ 'Город: ' }}</label>
                    <input
                        class="commonInput fieldInput input_width200"
                        type="text"
                        value="{{ affiliate is defined ? affiliate.city : '' }}"
                        name="city"
                        id="city"
                        placeholder="Введите город"
                        required
                    />
                </div>
                <div class="field">
                    <label class="commonText fieldName" for="address">{{ 'Адрес: ' }}</label>
                    <input
                        class="commonInput fieldInput input_width400"
                        type="text"
                        value="{{ affiliate is defined ? affiliate.address : '' }}"
                        name="address"
                        id="address"
                        placeholder="Введите адрес"
                        required
                    />
                </div>
            </div>
            <div class="commonText fieldName marginT21">
                {{ 'Количество сотрудников:' }} {{ affiliate is defined ? affiliate.employeeCount : 0 }}
            </div>
            <input
                class="btn primary marginT25"
                type="submit"
                value={{
                    app.request.get('_route') == 'affiliate_card_page'
                        ? 'Сохранить изменения'
                        : (
                            app.request.get('_route') == 'add_affiliate_page'
                                ? 'Создать'
                                : ''
                        )
                }}
            />
        </form>
        {% if app.request.get('_route') != 'add_affiliate_page' %}
            <div class="table">
                {#<input class="commonInput search" type="text" value="" placeholder="Введите имя сотрудника">#}
                <div class="employeeList">
                    {% if employees is defined %}
                        {% for employee in employees %}
                            <div class="employee" onclick="location.href = '/employee/{{ employee.id }}'">
                                <span class="commonText">{{ loop.index ~ '.' }}&nbsp;</span>
                                <span class="commonText">{{ employee.firstName ~ ' ' ~ employee.lastName ~ ' (' ~ employee.jobTitle ~ ')' }}</span>
                                <form
                                    class="formForDelete"
                                    action="{{ path('delete_employee') }}"
                                    method="post"
                                >
                                    <input class="hidden" type="text" name="id" value="{{ employee.id }}">
                                    <input class="hidden" type="text" name="affiliateId" value="{{ affiliate is defined ? affiliate.id : 0 }}">
                                    <input class="btn secondary commonText deleteBtn" type="submit" value="Удалить">
                                </form>
                                {#<button class="btn secondary commonText deleteBtn">{{ 'Удалить' }}</button>#}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button class="btn primary" onclick="location.href='/affiliate/{{ affiliate is defined ? affiliate.id : 1 }}/employee/add'">{{ 'Добавить сотрудника' }}</button>
            </div>
        {% endif %}
    </div>
{% endblock %}